* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    ;
    background-color: #eeeeee;
}

header {
    margin: 0 auto;
    display: flex;
    align-items: center;
    gap: 5px;
    margin-top: 20px;
}

main {
    max-width: 100vw;
    height: auto;
    margin: 0 auto;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 50px;
    

}

header {
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 5px;
    margin-top: 20px;
    justify-content: center;
}



header p {
    font-size: 50px;
    text-transform: uppercase;
    font-weight: bold;
    color: #074b5f;
}

h3 {
    font-size: 25px;
    color: #074b5f;
}

.insert {
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 30px;
    width: 90%;

}

.ideal {
    background-color: #074b5f;
}

input,
button {
    height: 50px;
    width: 250px;
    border-radius: 10px;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    box-shadow: 0px 0px 5px 0px #689fb0;
    border: none;
    background-color: #689fb0;
    color: white;

}

input[type=number]::-webkit-inner-spin-button { 
    -webkit-appearance: none;
}

button {
    margin-top: 30px;
    cursor: pointer;
}

select {
    margin-top: 30px;
    height: 50px;
    width: 250px;
    border-radius: 10px;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    background-color: rgb(196, 192, 192);
    border: none;
    color: #074b5f;
}

.choice-and-process {
    display: flex;
    justify-content: space-between;
    gap: 48px;
}


button:hover {
    opacity: 0.7;
}

button:active {
    opacity: 0.6;
}

.processed {
    width: 100%;
    display: flex;
    margin-top: 90px;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
}


.processed div p {
    text-align: center;
    line-height: 30px;
    

}

.data-projection #calculated-monthly-three-months, #royal-commission-three-months , #actual-total-three-months, .listone{
    height: 30px;
    width: 230px;
    background-color: rgb(196, 192, 192);
    border-radius: 5px;
    text-align: center;
    display: block;
}

#monthly-luck-three-months, #real-expenses-three-months, .listtwo {
    height: 30px;
    width: 230px;
    background-color: white;
    border-radius: 5px;
    text-align: center;
    display: block;
}

h4 {
    text-transform: uppercase;
    margin-bottom: 5px;
    background-color: #689fb0;
    height: 30px;
    width: 230px;
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    border-radius: 5px;
    font-size: 15px;
}



.number-red {
    color: red;
}

.percentage {
    margin: 0 auto;
    text-align: center;
    font-size: 10px;
    height: 30px;
    padding: 5px;
    background-color: rgb(196, 192, 192);
    border-radius: 5px;
    display: flex;
    align-items: center;
}

.ideal-percentage {
    background-color: white;
}



.data-projection {
    display: flex;
    gap: 10px;
    width: 230px;
    height: 30px;
    font-weight: bold;
}

::placeholder {
    color: white;
    opacity: 0.6;
}

button {
    background-color: darkorange;
}

footer p {
    margin-top: 30px;
    text-align: center;
    padding: 5px;
    font-weight: 500;
    background-color: #074b5f;
    color: #fff;
    font-size: 14px;
}

@media screen and (max-width: 450px) {

    header {
        position: relative;
        top: 15px;
    }

    

    .choice-and-process {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

   
    .insert{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 10px auto;
    }

    .processed {
        margin-top: 50px;  
        display: flex;
        flex-direction: column-reverse;
    }

    h3 {
        font-size: 18px;
        position: relative;
        top: -20px;
    }

    h4 {
        margin-top: 50px;
        width: 270px;
    }

    .data-projection {
        display: flex;
        width: 270px;
        height: 40px;
    }

   

    
}